# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Python packages
*.egg-info/
dist/
build/

# VS Code / IDE settings
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter / notebooks
.ipynb_checkpoints/
*.nv

# Pytest cache
.pytest_cache/

# dotenv / secrets
.env
